@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("./reset.css");
:root {
  --font-family: "Kumbh Sans", sans-serif;
  --fw-md: 400;
  --fw-lg: 700;

  /* COLORS */
}

body {
  font-family: var(--font-family);
}
p {
}

h1 {
  font-size: clamp(1.125rem, 6vw, 2rem);
  font-weight: 700;
  text-transform: capitalize;
}

span {
}

a {
}

img {
}

/* margins */

/* paddings */
